In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [577]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [578]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [579]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [580]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [581]:
df['MSZoning'].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [582]:
test['MSZoning'].value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [583]:
df['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [584]:
test['Street'].value_counts()

Pave    1453
Grvl       6
Name: Street, dtype: int64

In [585]:
df['SalePrice'][df['Street'] != 'Pave'].mean()

130190.5

In [586]:
df = df.drop(columns = ['Street'])
test = test.drop(columns = ['Street'])

In [587]:
#preprocessing data
df = df.drop(columns = ['Id'])

In [588]:
df['MSZoning'] = df['MSZoning'].map({'RL':1, 'RM':0, 'FV':0, 'A':0, 'C':0, 'RP':0, 'RH': 0, 'I':0})

In [589]:
test['MSZoning'] = test['MSZoning'].map({'RL':1, 'RM':0, 'FV':0, 'A':0, 'C':0, 'RP':0, 'RH': 0, 'I':0})

In [590]:
df['MSZoning'].value_counts()

1.0    1151
0.0     299
Name: MSZoning, dtype: int64

In [591]:
test['MSZoning'].value_counts()

1.0    1114
0.0     326
Name: MSZoning, dtype: int64

In [592]:
df['Alley'].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [593]:
df['Alley'].fillna(0, inplace = True)

In [594]:
test['Alley'].fillna(0, inplace = True)

In [595]:
df['Alley'] = df['Alley'].map({0:0, 'Grvl': 1, 'Pave': 2})

In [596]:
test['Alley'] = test['Alley'].map({0:0, 'Grvl': 1, 'Pave': 2})

In [597]:
df['NoAlley'] = df['Alley'] == 0
df['Grvl'] = df['Alley'] == 1
df['Pave'] = df['Alley'] == 2

In [598]:
test['NoAlley'] = test['Alley'] == 0
test['Grvl'] = test['Alley'] == 1
test['Pave'] = test['Alley'] == 2

In [599]:
df = df.drop(columns = ['Alley'])
test = test.drop(columns = ['Alley'])

In [600]:
df['LotShape'].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [601]:
test['LotShape'].value_counts()

Reg    934
IR1    484
IR2     35
IR3      6
Name: LotShape, dtype: int64

In [602]:
df['LotShape'] = df['LotShape'].map({'Reg': 1, 'IR1': 0, 'IR2': 0, 'IR3': 0})

In [603]:
test['LotShape'] = test['LotShape'].map({'Reg': 1, 'IR1': 0, 'IR2': 0, 'IR3': 0})

In [604]:
from sklearn.preprocessing import LabelEncoder

In [605]:
df['LandContour'].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

In [606]:
test['LandContour'].value_counts()

Lvl    1311
HLS      70
Bnk      54
Low      24
Name: LandContour, dtype: int64

In [607]:
for item in df['LandContour'].unique():
    df[str(item)] = df['LandContour'] == item

In [608]:
for item in test['LandContour'].unique():
    test[str(item)] = test['LandContour'] == item

In [609]:
df = df.drop(columns = ['LandContour'])
test = test.drop(columns = ['LandContour'])

In [610]:
df['Utilities'].value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

In [611]:
df = df.drop(columns = 'Utilities')

In [612]:
test = test.drop(columns = 'Utilities')

In [613]:
test.apply(lambda x: sum(x.isnull()),axis=0)

Id                  0
MSSubClass          0
MSZoning           19
LotFrontage       227
LotArea             0
LotShape            0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         1
Exterior2nd         1
MasVnrType         16
MasVnrArea         15
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           44
BsmtCond           45
BsmtExposure       44
BsmtFinType1       42
                 ...
FireplaceQu       730
GarageType         76
GarageYrBlt        78
GarageFinish       78
GarageCars          1
GarageArea          1
GarageQual         78
GarageCond         78
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1456
Fence            1169
MiscFeature      1408
MiscVal             0
MoSold              0
YrSold              0
SaleType            1
SaleCondition       0
NoAlley             0
Grvl                0
Pave                0
Lvl                 0
HLS                 0
Bnk                 0
Low                 0
Length: 83, dtype: int64

In [614]:
df['LotConfig'].value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [615]:
test['LotConfig'].value_counts()

Inside     1081
Corner      248
CulDSac      82
FR2          38
FR3          10
Name: LotConfig, dtype: int64

In [616]:
for item in df['LotConfig'].unique():
    df[str(item)] = df['LotConfig'] == item
df = df.drop(columns = ['LotConfig'])

In [617]:
for item in test['LotConfig'].unique():
    test[str(item)] = test['LotConfig'] == item
test = test.drop(columns = ['LotConfig'])

In [618]:
df['LandSlope'].value_counts()

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [619]:
df['LandSlope'] = df['LandSlope'].map({'Gtl':1, 'Mod':2, 'Sev':3})

In [620]:
df['SalePrice'][df['LandSlope'] == 3].mean()

204379.23076923078

In [621]:
test['LandSlope'] = test['LandSlope'].map({'Gtl':1, 'Mod':2, 'Sev':3})

In [622]:
test['LandSlope'].value_counts()

1    1396
2      60
3       3
Name: LandSlope, dtype: int64

In [623]:
 df.apply(lambda x: sum(x.isnull()), axis = 0)['FireplaceQu']

690

In [624]:
df['LotFrontage'].fillna(0, inplace = True)

In [625]:
test['LotFrontage'].fillna(0, inplace = True)

In [626]:
temp1 = df.pivot_table(values = 'SalePrice', index = ['Neighborhood'], aggfunc = lambda x : x.mean())

In [627]:
for item in df['Neighborhood'].unique():
    df[str(item)] = df['Neighborhood'] == item

In [628]:
for item in test['Neighborhood'].unique():
    test[str(item)] = test['Neighborhood'] == item

In [629]:
df = df.drop(columns = ['Neighborhood'])
test = test.drop(columns = ['Neighborhood'])

In [630]:
temp2 = df.pivot_table(values = 'SalePrice', index = ['Condition2'], aggfunc = lambda x : x.mean())

In [631]:
for item in df['Condition1'].unique():
    df[str(item)] = df['Condition1'] == item

In [632]:
for item in df['Condition2'].unique():
    df[str(item)] |= (df['Condition2'] == item)

In [633]:
for item in test['Condition1'].unique():
    test[str(item)] = test['Condition1'] == item

In [634]:
for item in test['Condition2'].unique():
    test[str(item)] |= (test['Condition2'] == item)

In [635]:
df = df.drop(columns = ['Condition1', 'Condition2'])
test = test.drop(columns = ['Condition1', 'Condition2'])

In [636]:
df['BldgType'].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [637]:
for item in df['BldgType'].unique():
    df[str(item)] = df['BldgType'] == item
df = df.drop(columns = ['BldgType'])

In [638]:
for item in test['BldgType'].unique():
    test[str(item)] = test['BldgType'] == item
test = test.drop(columns = ['BldgType'])

In [639]:
df['HouseStyle'].value_counts()

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64

In [640]:
for item in df['HouseStyle'].unique():
    df[str(item)] = df['HouseStyle'] == item
df = df.drop(columns = ['HouseStyle'])

In [641]:
for item in test['HouseStyle'].unique():
    test[str(item)] = test['HouseStyle'] == item
test = test.drop(columns = ['HouseStyle'])

In [642]:
df['RoofStyle'].value_counts()

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64

In [643]:
for item in df['RoofStyle'].unique():
    df[str(item)] = df['RoofStyle'] == item
df = df.drop(columns = ['RoofStyle'])

In [644]:
for item in test['RoofStyle'].unique():
    test[str(item)] = test['RoofStyle'] == item
test = test.drop(columns = ['RoofStyle'])

In [645]:
df.shape

(1460, 134)

In [646]:
test.shape

(1459, 133)

In [647]:
np.setdiff1d(df.columns.tolist(), test.columns.tolist())

array(['2.5Fin', 'SalePrice'], dtype='<U13')

In [648]:
test['2.5Fin'] = False

In [649]:
test.shape

(1459, 134)

In [650]:
df.shape

(1460, 134)

In [651]:
df['RoofMatl'].value_counts()

CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Roll          1
ClyTile       1
Membran       1
Name: RoofMatl, dtype: int64

In [652]:
test['RoofMatl'].value_counts()

CompShg    1442
Tar&Grv      12
WdShake       4
WdShngl       1
Name: RoofMatl, dtype: int64

In [653]:
df['RoofMatl'] = df['RoofMatl'].map({'CompShg':'CompShg', 'Tar&Grv':'Tar&Grv', 'WdShngl':'WdShngl', 'WdShake':'WdShake',
                                    'Metal':'CompShg', 'Roll':'CompShg', 'ClyTile':'CompShg', 'Membran':'CompgShg'})

In [654]:
test['RoofMatl'] = test['RoofMatl'].map({'CompShg':'CompShg', 'Tar&Grv':'Tar&Grv', 'WdShngl':'WdShngl', 'WdShake':'WdShake',
                                    'Metal':'CompShg', 'Roll':'CompShg', 'ClyTile':'CompShg', 'Membran':'CompgShg'})

In [655]:
for item in df['RoofMatl'].unique():
    df[str(item)] = df['RoofMatl'] == item

In [656]:
for item in test['RoofMatl'].unique():
    test[str(item)] = test['RoofMatl'] == item

In [657]:
df = df.drop(columns = 'RoofMatl')
test = test.drop(columns = 'RoofMatl')

In [658]:
df.shape

(1460, 138)

In [659]:
test.shape

(1459, 137)

In [660]:
for item in df['Exterior1st'].unique():
    df[str(item)] = df['Exterior1st'] == item

In [661]:
for item in test['Exterior1st'].unique():
    test[str(item)] = test['Exterior1st'] == item

In [662]:
test['Stone'] = False
test['ImStucc'] = False

In [663]:
df['Exterior2nd'][df['Exterior2nd'] == 'Wd Shng'] = 'WdShing'

/home/vatsal/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [664]:
df['Exterior2nd'][df['Exterior2nd'] == 'Brk Cmn'] = 'BrkComm'

/home/vatsal/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [665]:
test['Exterior2nd'][test['Exterior2nd'] == 'Wd Shng'] = 'WdShing'
test['Exterior2nd'][test['Exterior2nd'] == 'Brk Cmn'] = 'BrkComm'

/home/vatsal/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/vatsal/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [666]:
for item in df['Exterior2nd'].unique():
    df[str(item)] = df['Exterior2nd'] == item

In [667]:
for item in test['Exterior2nd'].unique():
    test[str(item)] = test['Exterior2nd'] == item

In [668]:
df = df.drop(columns = ['Exterior2nd'])
test = test.drop(columns = ['Exterior2nd'])

In [669]:
df = df.drop(columns = ['Exterior1st'])
test = test.drop(columns = ['Exterior1st'])

In [670]:
df['MasVnrType'].fillna('None', inplace = True)

In [671]:
df['MasVnrArea'].fillna(0, inplace = True)

In [672]:
test['MasVnrType'].fillna('None', inplace = True)
test['MasVnrArea'].fillna(0, inplace = True)

In [673]:
df['MasVnrType'].value_counts()

None       872
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [674]:
test['MasVnrType'].value_counts()

None       894
BrkFace    434
Stone      121
BrkCmn      10
Name: MasVnrType, dtype: int64

In [675]:
for item in test['MasVnrType'].unique():
    df[str(item)] = df['MasVnrType'] == item

In [676]:
for item in test['MasVnrType'].unique():
    test[str(item)] = test['MasVnrType'] == item

In [677]:
df = df.drop(columns = ['MasVnrType'])
test = test.drop(columns = ['MasVnrType'])

In [678]:
original = pd.read_csv('train.csv')
originalTest = pd.read_csv('test.csv')

In [679]:
df['ExterQual'] = original['ExterQual']
test['ExterQual'] = originalTest['ExterQual']

In [680]:
df.pivot_table(values = 'SalePrice', index = ['ExterQual'], aggfunc = lambda x : x.mean())

               SalePrice
ExterQual
Ex         367360.961538
Fa          87985.214286
Gd         231633.510246
TA         144341.313466

In [681]:
df['ExterQual'].value_counts()

TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64

In [683]:
test['ExterQual'].value_counts()

TA    892
Gd    491
Ex     55
Fa     21
Name: ExterQual, dtype: int64

In [684]:
qual = {'Ex':5, 5:5, 'Gd': 4, 4:4, 'TA':3, 3:3, 'Fa':2, 2:2, 'Po':1, 1:1, None: 0, 0:0}

In [685]:
df['ExterQual'] = df['ExterQual'].map(qual)

In [686]:
test['ExterQual'] = test['ExterQual'].map(qual)

In [687]:
test['ExterQual'].value_counts()

3    892
4    491
5     55
2     21
Name: ExterQual, dtype: int64

In [688]:
df['ExterCond'] = original['ExterCond']

In [689]:
test['ExterCond'] = originalTest['ExterCond']

In [690]:
df['ExterCond'] = df['ExterCond'].map(qual)
test['ExterCond'] = test['ExterCond'].map(qual)

In [691]:
def encodeAndDropColumn(val):
    global df
    global test
    for item in df[val].unique():
        df[str(item + val)] = df[val] == item
        test[str(item + val)] = test[val] == item
    df = df.drop(columns = [val])
    test = test.drop(columns = [val])

In [693]:
df['BsmtQual'] = original['BsmtQual']
test['BsmtQual'] = originalTest['BsmtQual']

In [694]:
df['BsmtQual'] = df['BsmtQual'].map(qual)
test['BsmtQual'] = test['BsmtQual'].map(qual)

In [695]:
df['Foundation'].value_counts()

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64

In [696]:
test['Foundation'].value_counts()

PConc     661
CBlock    601
BrkTil    165
Slab       25
Stone       5
Wood        2
Name: Foundation, dtype: int64

In [697]:
encodeAndDropColumn('Foundation')

In [698]:
df['BsmtCond'].value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [699]:
test['BsmtCond'].value_counts()

TA    1295
Fa      59
Gd      57
Po       3
Name: BsmtCond, dtype: int64

In [700]:
df['BsmtCond'] = df['BsmtCond'].map(qual)
test['BsmtCond'] = test['BsmtCond'].map(qual)

In [701]:
df['BsmtExposure'].value_counts()

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

In [702]:
exposure = {'Gd':4, 'Av':3, 'Mn':2, 'No':1, None: 0}

In [703]:
df['BsmtExposure'] = df['BsmtExposure'].map(exposure)
test['BsmtExposure'] = test['BsmtExposure'].map(exposure)

In [704]:
basementfin = {'GLQ':6, 6:6, 'ALQ':5, 5:5, 'BLQ':4, 4:4, 3:3, 'Rec':3, 'LwQ':2, 2:2, 'Unf':1, 1:1, None:0, 0:0}

In [705]:
test['BsmtFinType1'] = originalTest['BsmtFinType1']

In [706]:
df['BsmtFinType1'] = df['BsmtFinType1'].map(basementfin)
test['BsmtFinType1'] = test['BsmtFinType1'].map(basementfin)

In [707]:
df['BsmtFinType2'] = df['BsmtFinType2'].map(basementfin)
test['BsmtFinType2'] = test['BsmtFinType2'].map(basementfin)

In [708]:
df['Heating'].value_counts()

GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64

In [709]:
df.pivot_table(values = 'SalePrice', index = ['Heating'], aggfunc = lambda x : x.mean())

             SalePrice
Heating
Floor     72500.000000
GasA     182021.195378
GasW     166632.166667
Grav      75271.428571
OthW     125750.000000
Wall      92100.000000

In [710]:
encodeAndDropColumn('Heating')

In [711]:
df['HeatingQC'].value_counts()

Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64

In [712]:
df['HeatingQC'] = df['HeatingQC'].map(qual)
test['HeatingQC'] = test['HeatingQC'].map(qual)

In [713]:
df['CentralAir'] = df['CentralAir'].map({'Y':1, 'N':0})
test['CentralAir'] = test['CentralAir'].map({'Y':1, 'N':0})

In [714]:
df['BsmtCond'] = original['BsmtCond']
test['BsmtCond'] = originalTest['BsmtCond']

In [715]:
df['BsmtCond'] = df['BsmtCond'].map(qual)
test['BsmtCond'] = test['BsmtCond'].map(qual)

In [716]:
test['BsmtFinSF1'].fillna(0, inplace = True)
test['BsmtFinSF2'].fillna(0, inplace = True)
test['BsmtUnfSF'].fillna(0, inplace = True)

In [717]:
test['TotalBsmtSF'].fillna(0, inplace = True)

In [718]:
df['BsmtQual'].fillna(0, inplace = True)
test['BsmtQual'].fillna(0, inplace = True)

In [719]:
df['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [720]:
df['Electrical'].fillna('SBrkr', inplace = True)

In [721]:
encodeAndDropColumn('Electrical')

In [722]:
df['KitchenQual'] = df['KitchenQual'].map(qual)
test['KitchenQual'] = test['KitchenQual'].map(qual)

In [723]:
test['BsmtFullBath'].value_counts()

0.0    849
1.0    584
2.0     23
3.0      1
Name: BsmtFullBath, dtype: int64

In [724]:
test['BsmtFullBath'].fillna(0, inplace = True)

In [725]:
test['BsmtHalfBath'].value_counts()

0.0    1364
1.0      91
2.0       2
Name: BsmtHalfBath, dtype: int64

In [726]:
test['BsmtHalfBath'].fillna(0, inplace = True)

In [727]:
df['KitchenQual'].value_counts()

3    735
4    586
5    100
2     39
Name: KitchenQual, dtype: int64

In [728]:
a = test.apply(lambda x: sum(x.isnull()), axis = 0)

In [729]:
a['Functional']

2

In [730]:
df['Functional'].value_counts()

Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64

In [731]:
df['Functional'].fillna('Typ', inplace = True)

In [732]:
test['Functional'].value_counts()

Typ     1357
Min2      36
Min1      34
Mod       20
Maj1       5
Maj2       4
Sev        1
Name: Functional, dtype: int64

In [733]:
test['Functional'].fillna('Typ', inplace = True)

In [734]:
df.pivot_table(values = 'SalePrice', index = ['Functional'], aggfunc = lambda x : x.mean())

                SalePrice
Functional
Maj1        153948.142857
Maj2         85800.000000
Min1        146385.483871
Min2        144240.647059
Mod         168393.333333
Sev         129000.000000
Typ         183429.147059

In [735]:
functionality = {'Typ': 7, 'Min1':6, 'Min2':5, 'Mod':4, 'Maj1':3, 'Maj2':2, "Sev":1, 'Sal':0}

In [736]:
df['Functional'] = df['Functional'].map(functionality)
test['Functional'] = test['Functional'].map(functionality)

In [737]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape',
       'LandSlope', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       ...
       'GasWHeating', 'GravHeating', 'WallHeating', 'OthWHeating',
       'FloorHeating', 'SBrkrElectrical', 'FuseFElectrical', 'FuseAElectrical',
       'FusePElectrical', 'MixElectrical'],
      dtype='object', length=168)

In [738]:
test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape',
       'LandSlope', 'OverallQual', 'OverallCond', 'YearBuilt',
       ...
       'GasWHeating', 'GravHeating', 'WallHeating', 'OthWHeating',
       'FloorHeating', 'SBrkrElectrical', 'FuseFElectrical', 'FuseAElectrical',
       'FusePElectrical', 'MixElectrical'],
      dtype='object', length=167)

In [748]:
test['CompgShg'] = False

In [749]:
np.setdiff1d(df.columns.tolist(), test.columns.tolist())

array(['SalePrice'], dtype='<U16')

In [750]:
test['Other'] = False

In [751]:
np.setdiff1d(test.columns.tolist(), df.columns.tolist())

array(['Id'], dtype='<U16')

In [753]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape',
       'LandSlope', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       ...
       'GasWHeating', 'GravHeating', 'WallHeating', 'OthWHeating',
       'FloorHeating', 'SBrkrElectrical', 'FuseFElectrical', 'FuseAElectrical',
       'FusePElectrical', 'MixElectrical'],
      dtype='object', length=168)

In [754]:
test.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape',
       'LandSlope', 'OverallQual', 'OverallCond', 'YearBuilt',
       ...
       'WallHeating', 'OthWHeating', 'FloorHeating', 'SBrkrElectrical',
       'FuseFElectrical', 'FuseAElectrical', 'FusePElectrical',
       'MixElectrical', 'Other', 'CompgShg'],
      dtype='object', length=168)

In [755]:
df['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [756]:
test.apply(lambda x: sum(x.isnull()), axis = 0)

Id                   0
MSSubClass           0
MSZoning            19
LotFrontage          0
LotArea              0
LotShape             0
LandSlope            0
OverallQual          0
OverallCond          0
YearBuilt            0
YearRemodAdd         0
MasVnrArea           0
ExterQual            0
ExterCond            0
BsmtQual             0
BsmtCond             0
BsmtExposure         0
BsmtFinType1         0
BsmtFinSF1           0
BsmtFinType2         0
BsmtFinSF2           0
BsmtUnfSF            0
TotalBsmtSF          0
HeatingQC            0
CentralAir           0
1stFlrSF             0
2ndFlrSF             0
LowQualFinSF         0
GrLivArea            0
BsmtFullBath         0
                    ..
BrkFace              0
AsbShng              0
BrkComm              0
Stucco               0
AsphShn              0
CBlock               0
Stone                0
ImStucc              0
CmentBd              0
None                 0
BrkCmn               0
PConcFoundation      0
CBlockFoundation     0
BrkTilFoundation     0
WoodFoundation       0
SlabFoundation       0
StoneFoundation      0
GasAHeating          0
GasWHeating          0
GravHeating          0
WallHeating          0
OthWHeating          0
FloorHeating         0
SBrkrElectrical      0
FuseFElectrical      0
FuseAElectrical      0
FusePElectrical      0
MixElectrical        0
Other                0
CompgShg             0
Length: 168, dtype: int64

In [757]:
test['FireplaceQu'].value_counts()

Gd    364
TA    279
Fa     41
Po     26
Ex     19
Name: FireplaceQu, dtype: int64

In [758]:
df['FireplaceQu'] = df['FireplaceQu'].map(qual)
test['FireplaceQu'] = test['FireplaceQu'].map(qual)

In [759]:
df['GarageType'] = df['GarageType'].fillna('None')
test['GarageType'] = test['GarageType'].fillna('None')

In [760]:
encodeAndDropColumn('GarageType')

In [761]:
df['GarageYrBlt'].fillna(0, inplace = True)

In [762]:
test['GarageYrBlt'].fillna(0, inplace = True)

In [763]:
df['GarageFinish'].value_counts()

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

In [764]:
test['GarageFinish'].value_counts()

Unf    625
RFn    389
Fin    367
Name: GarageFinish, dtype: int64

In [765]:
df['GarageFinish'].fillna('None', inplace = True)
test['GarageFinish'].fillna('None', inplace = True)

In [766]:
encodeAndDropColumn('GarageFinish')

In [767]:
df['GarageCars'].value_counts()

2    824
1    369
3    181
0     81
4      5
Name: GarageCars, dtype: int64

In [768]:
test['GarageCars'].value_counts()

2.0    770
1.0    407
3.0    193
0.0     76
4.0     11
5.0      1
Name: GarageCars, dtype: int64

In [769]:
test['GarageCars'].fillna(2, inplace = True)

In [770]:
test['GarageArea'].fillna(test['GarageArea'].median(), inplace = True)

In [771]:
df['GarageQual'].value_counts()

TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: GarageQual, dtype: int64

In [772]:
df['GarageQual'] = df['GarageQual'].map(qual)
test['GarageQual'] = test['GarageQual'].map(qual)

In [773]:
df['GarageCond'] = df['GarageCond'].map(qual)
test['GarageCond'] = test['GarageCond'].map(qual)

In [774]:
PavedDrive = {'Y':2, 'P':1, 'N':0}

In [775]:
df['PavedDrive'].value_counts()

Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64

In [776]:
df['PavedDrive'] = df['PavedDrive'].map(PavedDrive)
test['PavedDrive'] = test['PavedDrive'].map(PavedDrive)

In [777]:
df.apply(lambda x: sum(x.isnull()), axis = 0)['SaleCondition']

0

In [778]:
test['PoolQC'].value_counts()

Ex    2
Gd    1
Name: PoolQC, dtype: int64

In [779]:
df.pivot_table(values = 'SalePrice', index = ['Fence'], aggfunc = lambda x : x.mean())

           SalePrice
Fence
GdPrv  178927.457627
GdWo   140379.314815
MnPrv  148751.089172
MnWw   134286.363636

In [780]:
df['PoolQC'] = df['PoolQC'].map(qual)
test['PoolQC'] = test['PoolQC'].map(qual)

In [781]:
df['Fence'].fillna('None', inplace = True)

In [782]:
test['Fence'].fillna('None', inplace = True)

In [783]:
encodeAndDropColumn('Fence')

In [784]:
df['MiscFeature'].value_counts()

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64

In [785]:
df['MiscFeature'].fillna('None', inplace = True)
test['MiscFeature'].fillna('None', inplace = True)

In [786]:
encodeAndDropColumn('MiscFeature')

In [787]:
df['MiscVal'].value_counts()

0        1408
400        11
500         8
700         5
450         4
2000        4
600         4
1200        2
480         2
1150        1
800         1
15500       1
620         1
3500        1
560         1
2500        1
1300        1
1400        1
350         1
8300        1
54          1
Name: MiscVal, dtype: int64

In [788]:
df.drop(columns = ['MoSold'], inplace = True)
test.drop(columns = ['MoSold'], inplace = True)

In [789]:
df['YrSold'].value_counts()

2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64

In [790]:
test['SaleType'].value_counts()

WD       1258
New       117
COD        44
ConLD      17
CWD         8
ConLI       4
Oth         4
ConLw       3
Con         3
Name: SaleType, dtype: int64

In [791]:
test['SaleType'].fillna('WD', inplace = True)

In [792]:
encodeAndDropColumn('SaleType')

In [793]:
df['SaleCondition'].value_counts()

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [794]:
encodeAndDropColumn('SaleCondition')

In [795]:
df['MSZoning'].value_counts()

1.0    1151
0.0     299
Name: MSZoning, dtype: int64

In [796]:
test['MSZoning'].value_counts()

1.0    1114
0.0     326
Name: MSZoning, dtype: int64

In [797]:
df['MSZoning'].fillna(1.0, inplace = True)
test['MSZoning'].fillna(1.0, inplace = True)

In [798]:
yTrain = df['SalePrice']

In [799]:
xTest = test.iloc[1:]

In [816]:
xTest.shape

(1459, 196)

In [817]:
type(xTest)

pandas.core.frame.DataFrame

In [818]:
type(yTrain)

pandas.core.series.Series

In [819]:
df.drop(columns = ['SalePrice'], inplace = True)

In [837]:
xTrain = df

In [821]:
xTrain.shape

(1460, 196)

In [822]:
type(xTrain)

pandas.core.frame.DataFrame

In [823]:
from sklearn.preprocessing import StandardScaler

In [824]:
scaler = StandardScaler()

In [839]:
xTrain = scaler.fit_transform(xTrain)

In [838]:
xTest = xTest[xTrain.columns]

In [840]:
xTest = scaler.transform(xTest)

In [831]:
df.shape

(1460, 196)

In [832]:
test.shape

(1459, 197)

In [833]:
xTrain.shape

(1460, 196)

In [835]:
xTest.shape

(1459, 196)

In [935]:
xTrain

array([[ 0.07337496,  0.50748065,  0.2128772 , ..., -0.05241424,
        -0.09103457, -0.11785113],
       [-0.87256276,  0.50748065,  0.64574726, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [ 0.07337496,  0.50748065,  0.29945121, ..., -0.05241424,
        -0.09103457, -0.11785113],
       ...,
       [ 0.30985939,  0.50748065,  0.2417352 , ..., -0.05241424,
        -0.09103457, -0.11785113],
       [-0.87256276,  0.50748065,  0.29945121, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [-0.87256276,  0.50748065,  0.50145724, ..., -0.05241424,
        -0.09103457, -0.11785113]])

In [936]:
xTest

array([[-0.87256276, -1.9705185 ,  0.64574726, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [-0.87256276,  0.50748065,  0.67460527, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [ 0.07337496,  0.50748065,  0.47259924, ..., -0.05241424,
        -0.09103457, -0.11785113],
       ...,
       [-0.87256276,  0.50748065,  2.95438761, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [ 0.66458604,  0.50748065,  0.12630318, ..., -0.05241424,
        -0.09103457, -0.11785113],
       [ 0.07337496,  0.50748065,  0.47259924, ..., -0.05241424,
        -0.09103457, -0.11785113]])

In [844]:
scalerY = StandardScaler()

In [848]:
yTrain = yTrain.values

In [850]:
yTrain = scalerY.fit_transform(yTrain.reshape(-1, 1))

/home/vatsal/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [907]:
yTrain

array([[208500.],
       [181500.],
       [223500.],
       ...,
       [266500.],
       [142125.],
       [147500.]])

In [1008]:
from sklearn.linear_model import ElasticNet
regressor = ElasticNet(alpha = 3.4, l1_ratio = 0.91)

In [1009]:
regressor.fit(xTrain, yTrain)

ElasticNet(alpha=3.4, copy_X=True, fit_intercept=True, l1_ratio=0.91,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [1010]:
yPred = regressor.predict(xTest)

In [1024]:
from sklearn.ensemble import RandomForestRegressor

In [1025]:
from sklearn.model_selection import GridSearchCV

In [1072]:
forestRegressor = RandomForestRegressor(max_depth = 10, min_samples_split = 8, max_features = 84, min_samples_leaf = 2, n_estimators = 32)

In [1073]:
forestRegressor.fit(xTrain, yTrain)

/home/vatsal/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features=84, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=2,
           min_samples_split=8, min_weight_fraction_leaf=0.0,
           n_estimators=32, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [1074]:
yForestPred = forestRegressor.predict(xTest)

In [1075]:
yForestPred

array([126464.50746321, 153446.05099426, 176603.90411457, ...,
       163179.63905763, 118406.00823   , 214410.53119699])

In [1076]:
answer = pd.DataFrame()

In [1077]:
answer['Id'] = list(range(1461, 2920))

In [1078]:
answer['SalePrice'] = yForestPred

In [1079]:
answer.shape

(1459, 2)

In [1082]:
max(answer['SalePrice'])

564105.4735553509

In [1083]:
answer.to_csv('ForestSubmission.csv', index = False)

In [1084]:
from xgboost import XGBRegressor

In [1707]:
model = XGBRegressor(learning_rate = 0.05, max_depth = 12, min_child_weight = 5.485, reg_alpha = 5.3185, reg_lambda = 2.74, subsample = 0.8, colsample_bytree = 0.598, n_estimators = 191, base_score = 0.3)

In [1702]:
parameters = [{'colsample_bytree': [0.598]}]

In [1703]:
gridCV = GridSearchCV(estimator = model,
                     param_grid = parameters,
                     cv = 10,
                     n_jobs = -1,
                     scoring = 'r2')

In [1704]:
gridCV.fit(xTrain, yTrain)

GridSearchCV(cv=10, error_score='raise',
       estimator=XGBRegressor(base_score=0.3, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.6, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=12, min_child_weight=5.5, missing=None, n_estimators=191,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=5.25, reg_lambda=2.74, scale_pos_weight=1, seed=None,
       silent=True, subsample=0.8),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid=[{'colsample_bytree': [0.598, 0.5985]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [1705]:
gridCV.best_score_

0.886821587269084

In [1706]:
gridCV.best_params_

{'colsample_bytree': 0.598}

In [1708]:
model.fit(xTrain, yTrain)

XGBRegressor(base_score=0.3, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.598, gamma=0, learning_rate=0.05,
       max_delta_step=0, max_depth=12, min_child_weight=5.485,
       missing=None, n_estimators=191, n_jobs=1, nthread=None,
       objective='reg:linear', random_state=0, reg_alpha=5.3185,
       reg_lambda=2.74, scale_pos_weight=1, seed=None, silent=True,
       subsample=0.8)

In [1709]:
yPred = model.predict(xTest)

In [1710]:
yPred

array([123878.44 , 159109.67 , 187585.97 , ..., 163543.56 , 115728.945,
       221038.75 ], dtype=float32)

In [1711]:
answer = pd.DataFrame()

In [1712]:
answer['Id'] = list(range(1461, 2920))
answer['SalePrice'] = yPred

In [1713]:
answer.to_csv('XGBoost.csv', index = False)